/* Dashboard.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(270.3deg, rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 100%);
    color: black;
  }
  
  .dashboard-container {
    max-width: 100%;
    margin: 0;
  }
  
  header {
    background: linear-gradient(270.3deg, rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 100%);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  .tabs {
    display: flex;
    background: linear-gradient(270.3deg, rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 100%);
    border-radius: 8px 8px 0 0;
    overflow: hidden;
  }
  
  .tab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .tab:hover {
    background: linear-gradient(270.3deg, rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 100%);
  }
  
  .tab.active {
    background: linear-gradient(270.3deg, rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 100%);
  }
  
  .tab-content {
    border: 1px solid #ddd;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  